
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    font-size: 62.5%;
}
.landingPage{
    width: 100vw;
    min-height: 100vh;
    background-color: #141414;
}

.logoSection{
    width: 95vw;
    margin: auto;
    height: 5rem;
    background-color: rgb(20,20,20);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoSection a img{
    width: 10rem;
    height: 4.5rem;
    cursor: pointer;
}

.main-div{
    width: 100vw;
    height: 80vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff;

}

.main-div h1{
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
    font-size: 600
}

.components{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.components .btn{
    height: 10vw;
    min-height: 8.4rem;
    max-height: 20rem;
    width: 10vw;
    min-width: 8.4px;
    max-height: 20rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    margin-top: 3rem;
    margin-right: 2.5rem;
    position: relative;
    cursor: pointer;

}

.components .btn:nth-child(1){
    background-image: url("./images//user1.png");
}

.components .btn:nth-child(2){
    background-image: url("./images//user2.png");
}

.components .btn:nth-child(3){
    background-image: url("./images//user3.png");
}

.components .btn:nth-child(4){
    background-image: url("./images//user4.png");
}