@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background: color #000;
}

li, a, left{
    font-family: 'Avenir Next';
    font-weight: 500;
    font-size: 16px;
    color:#000;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

.left {
    cursor: pointer;
    margin-right: auto;
}

.left{
    list-style: none;
}

.left li{
    display: inline-block;
    padding: 0px 20px;
}

.left li a{
    transition: all 0.3s ease 0s;
}

.left li a:hover{
    color: #0088a9;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}
.content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
  
.content .detail h2 {
    color: #444;
    font-size: 1.6em;
    font-weight: bolder;
}
  
.content .detail h2 span {
    font-size: 0.7em;
    color: #03a9f4;
    font-weight: bold;
}
  
.sci {
    position: relative;
    display: flex;
    margin-top: 5px;
}
  
.sci li {
    list-style: none;
    margin: 4px;
}
  
.sci li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5em;
    color: #444;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
}
  
.sci li a:hover {
    background: #03a9f4;
    color: #fff;
}